/data
/output
quick_calculation.ipynb
*__pycache__
*.pdf

#  Ignore all LaTeX build artifacts
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.nav
*.snm
*.vrb
*.xdv
*.bcf
*.run.xml